@media (min-width: 992px){
  .modal-custom-xl .modal-dialog{
    max-width: 90% !important;
  }

  .modal-custom-xl .container-fluid{
    max-width: 100% !important;
  }

  .modal-custom-lg .modal-dialog{
    max-width: 80% !important;
  }

  .modal-custom-md .modal-dialog{
    max-width: 60% !important;
  }
}

.form-required-helper{
    font-size: 80% !important;
    font-weight: 400 !important;
}

.m-r-5{
    margin-right: 5px !important;
}

.login-register{
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.custom-table tr:first-child td{
    border-top:none !important;
}

.custom-preloader{
    background: transparent url('../img/transparent_bg.png') !important;
}

.pointer{
    cursor: pointer !important;
}

.text-bold{
    font-weight: 500;
}


/*.topbar .top-navbar .navbar-header .navbar-brand b{
    line-height: 40px !important;
    height:40px !important;
    border: 1px solid;
}

.navbar-brand{
    background: white;
    max-height: 45px;
    line-height: 45px;
    padding: 0px 3px 3px 3px;
}

.navbar-brand img{
    height: 38px;
    vertical-align: top;
    margin-top: 3px;
}*/


/*.mobile-logo{
    border: none;
    display: inline-block;
    height: 50px;
    background: transparent;
    margin-top:5px;
    padding: 0px;
}

.mobile-logo img{
    display: inline-block;
    vertical-align: top;
    max-height: 50px;
}

.desktop-logo{
    margin-top:5px;
    padding: 0px;
    height: 50px;
    background: transparent;
    display: inline-block;
    
}

.desktop-logo img{
    display: inline-block;
    vertical-align: top;
    max-height: 50px;
}*/


.minisidebar .navbar-brand {
  min-height: 72px !important;
}

.minisidebar .navbar-header {
  text-align: center !important;
}

.topbar .top-navbar .navbar-header {
  padding: 0px;
}


.minisidebar .navbar-brand .mobile-logo img{
  max-height: 40px;
}

.minisidebar .navbar-brand .desktop-logo img{
  margin-top: 5px;
  max-height: 50px;
}

.minisidebar .ps__scrollbar-y-rail{
  z-index: 22px;
}

.jq-icon-info {
    color:#ffffff;
}


.normal-custom-table td{
    padding: 10px 15px;
}


.form-material  .select2-container--default .select2-selection--single {
    -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background-color: #ffffff;
    color: #67757c;
    border-color: #cccccc;
}

.select2-dropdown{
    background-color: white;
    border: 1px solid #cccccc !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #dddddd !important;
    border-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 99 !important;
}

.form-material .select2-container .select2-selection--single {
    height: 38px;
}

.form-material  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.form-material  .select2-selection__arrow{
    height: 38px !important;
}


.bg-white{
    background-color: #ffffff;
}

.select2-container .select2-results__option[aria-selected="true"] {
    background-color: #ddd;
}
/*
|--------------------
|
|
*/

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination li:first-child  span {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child  span {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination li.active span {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination li.disabled span {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd;
}
.pagination span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination a:focus, .pagination a:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}

.pagination-lg .pagination a {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .pagination a {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .pagination a {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .pagination a {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .pagination a {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .pagination a {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
/*************
Tables
*************/

/*******************
Table-Data Table
******************/
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #e9e9e9;
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table.dataTable {
    border-collapse: collapse !important;
}

/*table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #e9ecef;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #e9ecef !important;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 500;
}

.dataTables_wrapper {
    padding-top: 10px !important; }

  
  .dataTables_info,
  .dataTables_length {
    display: inline-block !important; }
  
  .dataTables_length {
    margin-top: 10px !important; }
    .dataTables_length select {
      border: 0 !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb)) !important;
      background-image: -webkit-linear-gradient(#398bf7, #398bf7), -webkit-linear-gradient(#b1b8bb, #b1b8bb) !important;
      background-image: -o-linear-gradient(#398bf7, #398bf7), -o-linear-gradient(#b1b8bb, #b1b8bb) !important;
      background-image: linear-gradient(#398bf7, #398bf7), linear-gradient(#b1b8bb, #b1b8bb) !important;
      background-size: 0 2px, 100% 1px !important;
      background-repeat: no-repeat !important;
      background-position: center bottom, center calc(100% - 1px) !important;
      background-color: transparent !important;
      -webkit-transition: background 0s ease-out !important;
      -o-transition: background 0s ease-out !important;
      transition: background 0s ease-out !important;
      padding-bottom: 5px !important; }
      .dataTables_length select:focus {
        outline: none !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb)) !important;
        background-image: -webkit-linear-gradient(#398bf7, #398bf7), -webkit-linear-gradient(#b1b8bb, #b1b8bb) !important;
        background-image: -o-linear-gradient(#398bf7, #398bf7), -o-linear-gradient(#b1b8bb, #b1b8bb) !important;
        background-image: linear-gradient(#398bf7, #398bf7), linear-gradient(#b1b8bb, #b1b8bb) !important;
        background-size: 100% 2px, 100% 1px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition-duration: 0.3s !important;
        -o-transition-duration: 0.3s !important;
        transition-duration: 0.3s !important; }
  
  .dataTables_filter {
    float: right !important;
    margin-top: 10px !important; }
    .dataTables_filter input {
      border: 0 !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb)) !important;
      background-image: -webkit-linear-gradient(#398bf7, #398bf7), -webkit-linear-gradient(#b1b8bb, #b1b8bb) !important;
      background-image: -o-linear-gradient(#398bf7, #398bf7), -o-linear-gradient(#b1b8bb, #b1b8bb) !important;
      background-image: linear-gradient(#398bf7, #398bf7), linear-gradient(#b1b8bb, #b1b8bb) !important;
      background-size: 0 2px, 100% 1px !important;
      background-repeat: no-repeat !important;
      background-position: center bottom, center calc(100% - 1px) !important;
      background-color: transparent !important;
      -webkit-transition: background 0s ease-out !important;
      -o-transition: background 0s ease-out !important;
      transition: background 0s ease-out !important;
      float: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      margin-left: 10px !important; }
      .dataTables_filter input:focus {
        outline: none !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb)) !important;
        background-image: -webkit-linear-gradient(#398bf7, #398bf7), -webkit-linear-gradient(#b1b8bb, #b1b8bb) !important;
        background-image: -o-linear-gradient(#398bf7, #398bf7), -o-linear-gradient(#b1b8bb, #b1b8bb) !important;
        background-image: linear-gradient(#398bf7, #398bf7), linear-gradient(#b1b8bb, #b1b8bb) !important;
        background-size: 100% 2px, 100% 1px !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition-duration: 0.3s !important;
        -o-transition-duration: 0.3s !important;
        transition-duration: 0.3s !important; }
  
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    background: transparent !important; }
  
  table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    margin-left: 10px !important;
    font-family: fontawesome !important;
    cursor: pointer !important; }
  
  table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer; }
  
  table.dataTable thead .sorting:after {
    content: "\f0dc";
    margin-left: 10px !important;
    font-family: fontawesome !important;
    cursor: pointer !important;
    color: rgba(50, 50, 50, 0.5) !important; }


    div.dt-button-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent !important;
        z-index: 2001;
    }

      
  .dataTables_wrapper .dt-buttons {
    display: inline-block !important;
    padding-top: 5px !important;
    margin-bottom: 15px !important; }

    .dataTables_wrapper .dt-buttons .dt-button{
        background: #398bf7 !important;
        border-color: transparent;
    }

    .dataTables_wrapper .dt-buttons .dt-button:hover, .dataTables_wrapper .dt-buttons .dt-button:active, .dataTables_wrapper .dt-buttons .dt-button:focus {
        background: #2f3d4a !important;
    }
    .dataTables_wrapper .dt-buttons .dt-button {
      padding: 5px 15px !important;
      border-radius: 4px !important;
      background: #398bf7 !important;
      color: #ffffff !important;
      margin-right: 3px !important; }
      .dataTables_wrapper .dt-buttons .dt-button:hover {
        background: #2f3d4a !important; }



    .dataTables_wrapper .dataTables_paginate .paginate_button {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        *cursor: hand;
        color: #67757c;
        border: 1px solid #ddd !important;
    }

    .dataTables_wrapper .paginate_button.current, .dataTables_wrapper .paginate_button:active{
        border: 1px solid #398bf7 !important;
        background: #398bf7 !important;
        color: #ffffff !important;
    }

    .dataTables_wrapper .paginate_button:hover, .dataTables_wrapper .paginate_button.current:hover {
        color: #ffffff !important;
        border: 1px solid #398bf7 !important;
        background: #398bf7 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
        cursor: default;
        color: #67757c !important;
        border: 1px solid #ddd !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .datatable-dropdown-menu .dropdown-item{
        width: auto !important;
    }

    .dt-button-collection {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem !important;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15) !important;
        border-radius: .25rem;
        box-shadow: none !important;
    }

    .dt-button-collection .dt-button{
        border: 1px solid #ddd !important;
        background: transparent !important;
        padding: 5px 1rem !important;
        font-size: 0.9rem !important;
        width: 100%;
    }

    .dt-button-collection .dt-button:hover{
        border: 1px solid #bbb !important;
    }

    .dt-button-collection .dt-button:active{
        box-shadow: none !important;
    }

    .dt-button-collection .dt-button.active  {
        box-shadow: none !important;
        background: #ececec !important;
        border: 1px solid #ccc !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 5px 8px;
    }

    .table td, .table th {
        vertical-align: middle;
    }*/
/*******************
Table- responsive
******************/
.tablesaw-bar .btn-group label {
    color: #67757c !important; }
  
  /*******************
  Table- editable table
  ******************/
  .dt-bootstrap {
    display: block !important; }
  
  .paging_simple_numbers .pagination .paginate_button {
    padding: 0px !important;
    background: #ffffff !important; }
    .paging_simple_numbers .pagination .paginate_button:hover {
      background: #ffffff !important; }
    .paging_simple_numbers .pagination .paginate_button a {
      padding: 3px 10px !important;
      border: 0px !important; }
    .paging_simple_numbers .pagination .paginate_button.active a,
    .paging_simple_numbers .pagination .paginate_button:hover a 
    {
      background: #398bf7 !important;
      color: #ffffff !important; 
      border-radius: 0 !important;
      border:0 !important;
    }
  
  .stylish-table tbody tr {
    border-left: 3px solid transparent !important; }
    .stylish-table tbody tr:hover, .stylish-table tbody tr.active {
      border-color: #398bf7 !important; }

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}


/*Custom PreLoader*/
/*******************
Preloader
********************/



/*******************
Preloader
********************/
.apps-preloader{
    width: 100%;
    height: 100%;
    top:0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
    .cssload-speeding-wheel{
        position: absolute;
        top: calc(50% - 3.5px);
        left: calc(50% - 3.5px);
    }
}
.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}

.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid #1976d2;
  border-radius: 50%;
  -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
  float: left;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #1976d2;
  white-space: nowrap;
  -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-moz-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@-moz-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
